.container {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
  margin: auto;
  justify-content: space-between;
}

.gallery {
  background-image: url(/images/background.jpg);
}

img:hover {
  border: none;
}

img {
  border: 5px solid #212121;
}

.pic-1 {
  margin: 20px;
}

.img__pic-1 {
  width: 1000px;
  height: 600px;
  padding: 5px;
}

.pic-2 {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.pic-3 {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.pic-4 {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.img__pic-2 {
  width: 500px;
  height: 600px;
  padding: 5px;
}

.img__pic-3 {
  width: 800px;
  height: 600px;
  padding: 5px;
}

.img__pic-4 {
  width: 700px;
  height: 600px;
  padding: 5px;
}
